html,body{
  margin: 0;
  height: 100%;
  color: #444;
  box-sizing: border-box;
}
body{padding: 10px;}
header{
  width: 300px;
  margin: 0;
  padding: 0 10px;
  background-color: rgba(240, 240, 240,0.7);
  max-height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;top: 0;
}
header h1{
  text-align: center;
}

#menu .nav-trigger{
  opacity: 0;
}
#menu .nav-trigger,#menu .nav-trigger+label{
  position: absolute;
  top: 27px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  margin: 0;
}

#menu .nav-trigger+label span, 
#menu .nav-trigger+label span:before,
#menu .nav-trigger+label span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 100%;
  background: #444;
  position: absolute;
  display: block;
  content: '';
}
#menu .nav-trigger+label span:before {
  top: 10px;
}
#menu .nav-trigger+label span:after {
  bottom: -20px; 
}

#menu nav{
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden;
}
#menu input:checked  ~ nav{
  height: 1500px;
}

#menu nav ul{
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#output,#output canvas{
  width: 100%;
  height: 100%;
}



button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
fieldset+fieldset{
      margin-top: 10px;
}
textarea{
  width: 100%;
  min-height: 200px;
  font-size: 12px;
  margin-bottom: 5px;
}
fieldset buttongroup{
  display: table;
  width: 100%;
  table-layout: fixed;
}
fieldset buttongroup button{
  display: table-cell;
  width: 33.33%;
}

.list {text-align: left;margin: 0;padding: 0;list-style: none;}
.list li {margin-bottom: 10px;display: block;}
.list li p{margin: 0px;display: inline-block;}
.list li label,.list li div{float: right;}
.input-group{
  width: 80px;
  position: relative;
  display: table;
  border-collapse: separate;
  float: right;
  box-sizing: none;
}
.input-group .form-control{
  
  display: table-cell;
  position: relative;
  z-index: 2;
  width: 100%;height: 100%;
  padding: 3px 0 3px 5px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .input-group-addon{
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 2px 4px 3px 10px;
    line-height: 1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.tgl{ display: none;}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + label {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + label::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + label::selection {
  background: none;
}

.tgl + label {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border:1px solid #aaa;
  border-radius: 2em;
  outline: 0;
  display: block;
  width: 35px;
  height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  content: "";
  border-radius: 1em;
}
.tgl + label:after{
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  background: #aaa;
  border-radius: 1em;
-webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tgl:checked + label:after {
  left: 50%;
  background: #fff;
}
.tgl:checked + label {
  background: #aaa;
}
